<!DOCTYPE html>
<html>
<head>
	<title>My ToDo list</title>
</head>
<body>
    <h1>Welcome to the basic todolist ever</h1>
    <a href="/show_my_todo_list">Show my todolist</a> <br>
    <a href="/show_my_doneTask_list">Show my done task list</a>
</body>
</html>